[submodule "Bukkit"]
	path = Bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
[submodule "CraftBukkit"]
	path = CraftBukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/craftbukkit.git
[submodule "BuildData"]
	path = BuildData
	url = https://github.com/TacoSpigot/BuildData.git
[submodule "Paperclip"]
	path = Paperclip
	url = https://github.com/TacoSpigot/Paperclip.git
